[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "*"
imageio = "*"
tensorflow-docs = {git = "https://github.com/tensorflow/docs"}
ipython = "*"
matplotlib = "*"
pillow = "*"
pep8 = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.8"
